<!--ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header-->


<ion-header mode="md" class="ion-no-border" *ngIf="!isDesktop">
  <div>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
         Overview
      </ion-title>

    </ion-toolbar>
  </div>
</ion-header>

<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col size-md="1" size-xs="12" ></ion-col>
      <ion-col size-md="10" size-xs="12">
        <ion-grid>
          <ion-row>
            <ion-col size-md="3">
              <ion-card>
                <ion-row>
                  <ion-col size-xs="12" class="ion-text-center" >
                    <h3 >Users :</h3>
                  </ion-col>
                  </ion-row>
              </ion-card>
            </ion-col>
            <ion-col size-md="3">
              <ion-card>
                <ion-row>
                  <ion-col size-xs="12" class="ion-text-center" >
                    <h3 >Low Risk :</h3>
                  </ion-col>
                  </ion-row>
              </ion-card>
            </ion-col>
            <ion-col size-md="3">
              <ion-card>
                <ion-row>
                  <ion-col size-xs="12" class="ion-text-center" >
                    <h3 >Mederate Risk :</h3>
                  </ion-col>
                  </ion-row>
              </ion-card>
            </ion-col>
            <ion-col size-md="3">
              <ion-card>
                <ion-row>
                  <ion-col size-xs="12" class="ion-text-center" >
                    <h3 >High Risk :</h3>
                  </ion-col>
                  </ion-row>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-md='8' size-xs="12">
              <ion-col size='12'>
                <ion-card   mode="ios"  class="pointer">
              <div [chart]="column"></div>
            </ion-card>
            </ion-col>
              <ion-col size='12'>

                <ion-card   mode="ios"  class="pointer">
                  <div id="asdasdasd" ></div>
                </ion-card>
              </ion-col>
              <ion-col size='12'>

                <ion-card   mode="ios"  class="pointer">
                  <div id="heatmap" ></div>
                </ion-card>
              </ion-col>




            </ion-col>
            <ion-col size-md='4' size-xs="12" class="listofmemebers">
              <app-patient-data [patientData]="patientData"></app-patient-data>


            </ion-col>
          </ion-row>



        </ion-grid>



      </ion-col>
            <ion-col size-md="1" size-xs="12"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

