<!--ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header-->


<ion-header mode="md" class="ion-no-border" *ngIf="!isDesktop">
  <div>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
         Over View
      </ion-title>

    </ion-toolbar>
  </div>
</ion-header>


<ion-content *ngIf="!isDesktop">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-row>
            <ion-col class="ion-text-center" >
              <h3 >Users :</h3>
            </ion-col>
            </ion-row>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-row>
            <ion-col  class="ion-text-center" >
              <h3 >Low Risk :</h3>
            </ion-col>
            </ion-row>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-row>
            <ion-col class="ion-text-center" >
              <h3 >Mederate Risk :</h3>
            </ion-col>
            </ion-row>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-row>
            <ion-col class="ion-text-center" >
              <h3 >High Risk :</h3>
            </ion-col>
            </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size='12'>
        <div [chart]="column"></div>
        <br />
      </ion-col>
      <ion-col size='12' class="listofmemebers">
        <ng-container >
          <div *ngFor="let x of listOfMembers" >
            <ion-card  mode="ios" class="pointer">
              <ion-item lines="none">
                <ion-avatar slot="start">
                  <text-avatar [text]="x.name" [color]=""></text-avatar>
                </ion-avatar>
                <ion-label style="margin-top: -5px;">
                  <ion-item slot="start" lines="none" class="ion-no-padding" style="padding-bottom: 5px;">
                    <h2 class="ion-text-wrap" style="padding-top: 20px;">
                      {{ x.name }}
                    </h2>

                  </ion-item>
                  <ion-row class="ion-no-padding" lines="none" style="padding-top: 1px !important;">
                    <p>

                      <span>
                        <ion-icon name="location-outline" slot="start"></ion-icon> {{x.address}}
                      </span><br />
                      <span>
                        <ion-icon name="mail-outline" slot="start"></ion-icon> {{x.email}}
                      </span>
                    </p>
                    <br />
                  </ion-row>
                </ion-label>
              </ion-item>
            </ion-card>
          </div>
        </ng-container>


      </ion-col>
    </ion-row>



  </ion-grid>
</ion-content>

<ion-content *ngIf="isDesktop">
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1" >
        <ion-grid>
          <ion-row>
            <ion-col size-md="3">
              <ion-card>
                <ion-row>
                  <ion-col size-xs="12" class="ion-text-center" >
                    <h3 >Users :</h3>
                  </ion-col>
                  </ion-row>
              </ion-card>
            </ion-col>
            <ion-col size-md="3">
              <ion-card>
                <ion-row>
                  <ion-col size-xs="12" class="ion-text-center" >
                    <h3 >Low Risk :</h3>
                  </ion-col>
                  </ion-row>
              </ion-card>
            </ion-col>
            <ion-col size-md="3">
              <ion-card>
                <ion-row>
                  <ion-col size-xs="12" class="ion-text-center" >
                    <h3 >Mederate Risk :</h3>
                  </ion-col>
                  </ion-row>
              </ion-card>
            </ion-col>
            <ion-col size-md="3">
              <ion-card>
                <ion-row>
                  <ion-col size-xs="12" class="ion-text-center" >
                    <h3 >High Risk :</h3>
                  </ion-col>
                  </ion-row>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size='8'>
              <div [chart]="column"></div>
              <br />
            </ion-col>
            <ion-col size='4' class="listofmemebers">
              <ng-container >
                <div *ngFor="let x of listOfMembers" >
                  <ion-card  mode="ios" class="pointer">
                    <ion-item lines="none">
                      <ion-avatar slot="start">
                        <text-avatar [text]="x.name" [color]=""></text-avatar>
                      </ion-avatar>
                      <ion-label style="margin-top: -5px;">
                        <ion-item slot="start" lines="none" class="ion-no-padding" style="padding-bottom: 5px;">
                          <h2 class="ion-text-wrap" style="padding-top: 20px;">
                            {{ x.name }}
                          </h2>

                        </ion-item>
                        <ion-row class="ion-no-padding" lines="none" style="padding-top: 1px !important;">
                          <p>

                            <span>
                              <ion-icon name="location-outline" slot="start"></ion-icon> {{x.address}}
                            </span><br />
                            <span>
                              <ion-icon name="mail-outline" slot="start"></ion-icon> {{x.email}}
                            </span>
                          </p>
                          <br />
                        </ion-row>
                      </ion-label>
                    </ion-item>
                  </ion-card>
                </div>
              </ng-container>


            </ion-col>
          </ion-row>



        </ion-grid>



      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

