<ng-container >
  <div *ngFor="let x of patientData" >
    <ion-card  mode="ios" class="pointer">
      <ion-item lines="none">
        <ion-avatar slot="start">
          <text-avatar [text]="x.name" [color]=""></text-avatar>
        </ion-avatar>
        <ion-label style="margin-top: -5px;">
          <ion-item slot="start" lines="none" class="ion-no-padding" style="padding-bottom: 5px;">
            <h2 class="ion-text-wrap" style="padding-top: 20px;">
              {{ x.name }} | {{x.sex}} | {{x.age}}
            </h2>

          </ion-item>
          <ion-row class="ion-no-padding" lines="none" style="padding-top: 1px !important;">
            <p>

              <span>
                SBP : {{x.systolicBloodPressure}} / DBP : {{x.diastolicBloodPressure}} {{x['diastolicBloodPressure']}}
              </span><br />

            </p>
            <br />
          </ion-row>
        </ion-label>
      </ion-item>
    </ion-card>
  </div>
</ng-container>
