<!--ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header-->


<ion-header mode="md" class="ion-no-border" >
  <div>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
         Tickets
      </ion-title>

    </ion-toolbar>
  </div>
</ion-header>



<ion-content>

</ion-content>

