<ion-content>


  <div class="wrapper">
    <ion-grid>
      <ion-row>
        <ion-col
          size-lg="4"
          offset-lg="4 "
          size-md="4"
          offset-md="4 "
          size-sm="6"
          size="12"
          class="my-custom-slider"
        >
          <ion-card class="form-wrapper">

            <ion-card-content>




              <ion-item style="margin-top:-10px">

                <ion-input type="text" placeholder="name" id="input-username" [(ngModel)]="name">
                </ion-input>
              </ion-item>
              <ion-item style="margin-top:-10px">

                <ion-input
                  type="text"
                  placeholder="Age"
                  id="input-username"
                  [(ngModel)]="age"
                >
                </ion-input>
              </ion-item>
              <ion-item style="margin-top:-10px">

                <ion-input
                  type="text"
                  placeholder="location"
                  id="input-username"
                  [(ngModel)]="location"
                >
                </ion-input>
              </ion-item>



              <ion-button
                expand="block"
                id="btn-confirm"
                (click)="checkInput()"

                ><div>
                  Add
                </div>

              </ion-button>
              <!--n-button
                expand="block"
                id="btn-confirm"
                (click)="checkInput1()"

                ><div>
                  View
                </div>

              </ion-button-->


              <br />




            </ion-card-content>
          </ion-card>
    <ion-list *ngFor="let x of list">
      <ion-item>
        <ion-label>
          <h2>{{x.name}}</h2>
          <h3>{{x.id}}</h3>
          <span (click)="delete(x.id)">delete</span>
        </ion-label>
      </ion-item>
    </ion-list>

        <ion-card class="form-wrapper">
          <ion-card-content>
            <ion-item style="margin-top:-10px">

              <ion-input
                type="text"
                placeholder="id"
                id="input-username"
                [(ngModel)]="id"
              >
              </ion-input>
            </ion-item>
            <ion-button expand="block" id="btn-confirm" (click)="update()" >
              <div>
                Update
              </div>
            </ion-button>
          </ion-card-content>
        </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-item lines="none" class="fontSize-12">

  </ion-item>
</ion-footer>
