<!--ion-tabs *ngIf="!isDesktop">
  <ion-tab-bar slot="bottom">
    <ion-tab-button id="button-in-patients" tab="in-patients">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label class="tab-font-family">In Patients</ion-label>
    </ion-tab-button>
    <ion-tab-button id="button-dashboard" tab="dashboard">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label class="tab-font-family">Dashboard</ion-label>
    </ion-tab-button>


    <ion-tab-button id="button-news-feed" tab="news-feed">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label class="tab-font-family">News Feed</ion-label>
    </ion-tab-button>





    <ion-tab-button id="button-settings" tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label class="tab-font-family">Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<div *ngIf="isDesktop" class="desktop">
  <ion-header mode="md" class="ion-no-border custom-border-bottom">
    <ion-toolbar>
      <ion-row class="ion-align-items-center">
        <ion-col size="2">

        </ion-col>
        <ion-col size="10">
          <div class="navbar" class="ion-text-center chh-bg">
            <ion-button
              id="button-dashboard"
              fill="clear"
              routerLink="/menu/dashboard"
              routerDirection="root"
              routerLinkActive="active-link"
              class="link"
            >
              Dashboard
            </ion-button>
            <ion-button
              id="button-in-patients"
              fill="clear"
              routerLink="/menu/in-patients"
              routerDirection="root"
              routerLinkActive="active-link"
              class="link"
            >
              InPatients
            </ion-button>
            <ion-button
              id="button-appointments"
              fill="clear"
              routerLink="/menu/news-feed"
              routerDirection="root"
              routerLinkActive="active-link"
              class="link"
            >
              News Feed
            </ion-button>
            <ion-button
              id="button-settings"
              fill="clear"
              routerLink="/menu/settings"
              routerDirection="root"
              routerLinkActive="active-link"
              class="link"
            >
            Settings
            </ion-button>
            <ion-button
              id="button-logout"
              fill="clear"
              routerDirection="root"
              routerLinkActive="active-link"
              class="link"
              (click)="logout()"
            >
            Logout
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>

  <ion-router-outlet class="with-header"></ion-router-outlet>

  <div class="footer tab-font-family">
    <span>hehe</span>
  </div>
</div-->


<ion-app *ngIf="!isDesktop">
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-header  class="title" >
          <ion-toolbar >
            <ion-title  >OresPh</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" (click)="goto(p.url)" lines="none" detail="false" routerLinkActive="selected" *ngIf="p.url != '#'">


              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>


      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>


<div *ngIf="isDesktop" class="desktop">
  <!--ion-header mode="ios" class="ion-no-border custom-border-bottom" >
    <ion-toolbar>
      <ion-row class="ion-align-items-center">
        <ion-col size="2">
          Logo
        </ion-col>
        <ion-col size="10">
          <div class="navbar" class="ion-text-center chh-bg" >
            <ion-button fill="clear" routerDirection="root" (click)="goto('/menu/overview')">Overview</ion-button>
            <ion-button  fill="clear" routerDirection="root" (click)="goto('/menu/members')">Members</ion-button>
            <ion-button fill="clear" routerDirection="root" (click)="goto('/menu/tickets')">Tickets</ion-button>
            <ion-button  fill="clear" routerDirection="root" (click)="goto('/menu/settings')">Settings</ion-button>
            <ion-button  fill="clear" routerDirection="root" (click)="goto('/out')">Logout</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header-->
  <ion-header mode="ios">

    <ion-toolbar color="primary">
      <ion-row class="ion-align-items-center">
        <ion-col size="2">
          <img src="./assets/images/logo.png" class="logo ion-text-left">
        </ion-col>
        <ion-col size="10">
          <div class="navbar" class="ion-text-center">
            <ion-button fill="clear" routerDirection="root" (click)="goto('/profile/patient')"  class="link">Profile</ion-button>

            <ion-button  fill="clear" routerDirection="root" (click)="goto('/out')"   class="link">Logout</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet class="with-header"></ion-router-outlet>

  <!--div class="footer tab-font-family">
    <span>OresPh</span>
  </div-->
</div>
