<!--ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header-->

<ion-header mode="md" class="ion-no-border" *ngIf="!isDesktop">
  <div>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
         members
      </ion-title>

    </ion-toolbar>
  </div>
</ion-header>



<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-md="8" offset-md="2" size-lg="4" offset-lg="4">
        <ng-container>

          <div *ngFor="let x of listOfMembers">


            <ion-card  mode="ios" class="pointer">
              <ion-item lines="none">
                <ion-avatar slot="start">
                  <text-avatar [text]="x.name" [color]=""></text-avatar>
                </ion-avatar>
                <ion-label style="margin-top: -5px;">
                  <ion-item slot="start" lines="none" class="ion-no-padding" style="padding-bottom: 5px;">
                    <h2 class="ion-text-wrap" style="padding-top: 20px;">
                      {{ x.name }}
                    </h2>

                  </ion-item>
                  <ion-row class="ion-no-padding" lines="none" style="padding-top: 1px !important;">
                    <p>

                      <span>
                        <ion-icon name="location-outline" slot="start"></ion-icon> {{x.address}}
                      </span><br />
                      <span>
                        <ion-icon name="mail-outline" slot="start"></ion-icon> {{x.email}}
                      </span>
                    </p>
                    <br />
                  </ion-row>
                </ion-label>
              </ion-item>
            </ion-card>
          </div>
        </ng-container>












      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

